################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SingletonDPLazyLoading/bin/Debug/net8.0
